<footer class="fixed-bottom bg-light">
    <div class="container">
        <div class="d-flex justify-content-center">
            <span class="text-muted">Version b1.0 - By <a class="tet-dark" href="https://github.com/SamuelBagattin">Samuel
                    Bagattin</a></span>
        </div>
    </div>
</footer>