<header>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand text-light"><i class="fa fa-tree" aria-hidden="true"></i> DECKLABS</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="CeKeTuVeu">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </nav>
</header>