<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{title}}</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

</head>

<body>
    {{{body}}}
</body>

</html>